
<div *ngIf="isLoading; else elseBlock" class="MainContainer">
  <img src="https://img1.picmix.com/output/stamp/thumb/4/0/3/9/599304_cbaff.gif" alt="User list is loading..." class="Loader"/>
</div>
<ng-template #elseBlock>
  <div class="MainContainer">
    <div *ngFor="let user of users; let i = index"
      (click)="onSelect(user)"
      class="UserOverview"
      [style.backgroundColor]="getBackgroundColor(i)"
      [class.selected]="user === selectedUser"
      routerLink="/detail/{{user.UUID}}">
      <div>
        <img class="UserPicture" src={{user.image}} alt="Pictrure of {{user.firstName}}"/>
        <div *ngIf="(user.glasses=='no'); else onLine">
          <label class="OnlineStatusNo" [style.border-color]="getBackgroundColor(i)">
          </label>
        </div>
        <ng-template #onLine>
          <div>
            <label class="OnlineStatusYes" [style.border-color]="getBackgroundColor(i)">
            </label>
          </div>
        </ng-template>
      </div>
      <div class="UserDetails">
        <div class="UserName">{{user.firstName}} {{user.lastName}}</div>
        <div *ngIf="(user.quote.length>=70); else fullLine" class="UserQuote" [innerHTML]="(user.quote.slice(0,70)+'...')"></div>
        <ng-template #fullLine >
          <div class="UserQuote" [innerHTML]="user.quote">
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
