@import url("../styles.css");

.MainContainer {
  flex-direction: row;
  justify-content:space-between;
}

.UserOverview {
  width: 320px;
  height: 320px;
  text-align: center;
  opacity: 0.6;
  margin: 1em 1em 0 0;
  border-radius: 10px;
  position:relative;
}

.UserOverview:hover {
  background-color: #CFD8DC !important;
}

.UserOverview:hover  label{
  border-color: #CFD8DC !important;
}

.UserDetails {

}

.UserName {
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.UserTitle {
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
}

.UserQuote {
  font-size: 0.85em;
  color: #ffffff;
  font-style: italic;
  margin: 1em 0 3em 0;
}

.OnlineStatusNo {
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 7px solid;
  top: 155px;
  left: 200px;
}

.OnlineStatusYes {
  border-radius: 50%;
  background-color: #ea296b;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 7px solid;
  top: 155px;
  left: 200px;
}
