<div *ngIf="user" class="MainContainer">

  <div class="UserShortInfo">
    <img src="{{user.image}}" alt="{{user.firstName}} {{user.lastName}}" class="UserPicture">
    <h4>{{ user.firstName|uppercase }} {{ user.lastName|uppercase }}</h4>
  </div>
  <div class="UserOverview">
    <div class="UserData">
      <label><h5>Personal</h5>
        <p>First Name: <input [(ngModel)]="user.firstName" placeholder="first name"></p>
        <p>Last Name: <input [(ngModel)]="user.lastName" placeholder="last name"></p>
        <p>Gender: <input [(ngModel)]="user.gender" placeholder="gender"></p>
        <p>Age: <input [(ngModel)]="user.age" placeholder="age"></p>
      </label>
    </div>
    <div class="UserData">
      <label><h5>Online</h5>
        <p>Username: <input [(ngModel)]="user.username" placeholder="username"></p>
        <p>Password: <input [(ngModel)]="user.password" placeholder="password"></p>
        <p>Email: <input [(ngModel)]="user.email" placeholder="email"></p>
      </label>
    </div>
    <div class="UserData">
      <label><h5>Address</h5>
        <p>City: <input [(ngModel)]="user.location.city" placeholder="city"></p>
        <p>Zip: <input [(ngModel)]="user.location.zip" placeholder="zip"></p>
        <p>Street: <input [(ngModel)]="user.location.street.name" placeholder="street"></p>
        <p>Haus #: <input [(ngModel)]="user.location.street.number" placeholder="haus #"></p>
      </label>
    </div>
  </div>
  <button (click)="goBack()" class="Button">go back</button>
</div>
