@import url("../styles.css");

label {
  font-size: 0.85em;
}

.Button {
  margin: 0.5em 0 0 0;
  align-self: flex-start;
}

.UserShortInfo {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.UserPicture {
  margin: 2em;
}

.UserShortInfo > h4 {
  margin: 2em;
  align-self: flex-end;
}

.UserOverview {
  display: flex;
  flex-direction: row;

  text-align: left;
  border: 2px solid #585858;
  border-radius: 10px;
}

.UserOverview > div {
  margin: 1em;
  padding: 1em;
  border: 1px solid #585858;
  border-radius: 10px;

}

.UserData {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.UserData input{
  width:100%;
}
