<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav>
    <div class="NavBar">
      <a routerLink="/detail" class="Button" style="visibility: hidden;">
        <img src="http://assets.stickpng.com/thumbs/588a64e7d06f6719692a2d11.png" alt="Side Menu" class="IconBadge"/>
      </a>
      <a routerLink="/grid" class="Button">
        <img src="https://www.shareicon.net/download/2015/08/19/87493_grid_512x512.png" alt="" class="IconBadge"/>
        Grid</a>
      <a routerLink="/list" class="Button">
        <img src="http://cdn.mysitemyway.com/icons-watermarks/simple-light-gray/foundation/foundation_list-bullet/foundation_list-bullet_simple-light-gray_512x512.png" alt="" class="IconBadge"/>
        List</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
