@import url("./styles.css");

.NavBar {
  text-align: left;
  font-size: 1em;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.IconBadge {
  height: 0.85em;
  width: auto;
  padding: 0!important;
}

.Button {
  margin: 0.5em;
}
