h1, h2, h3, h4, h5 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: #585858;
}

p, input {
  line-height: 1.5;
  margin: 0 0 0.5em 0;
  letter-spacing: 0.35em;
  color: #585858;
}

.selected {
  background-color: #CFD8DC !important;
}

.Loader {
  text-align: center;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5em 0.5em 0.5em 4em;
  font-family: "Courier New", monospace;
}

.Button {
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 2px #585858;
  color: #585858 !important;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Courier New", monospace;
  text-decoration: none;
  font-size: 14px;
}

.Button:hover {
  background-color: #CFD8DC !important;
}

.UserPicture {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 25px 0 20px 0;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  position: relative;
  filter: grayscale(100%);
}
