
<div *ngIf="isLoading; else elseBlock" class="MainContainer">
  <img src="https://img1.picmix.com/output/stamp/thumb/4/0/3/9/599304_cbaff.gif" alt="User list is loading..." class="Loader"/>
</div>
<ng-template #elseBlock>
  <div class="MainContainer">
    <table class="Table">
      <thead>
        <tr>
          <th class="UserCell"></th>
          <th class="UserCell">Name</th>
          <th class="UserCell">Birthdate</th>
          <th class="UserCell">Quote</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index"
          class="UserLine"
          [class.selected]="user === selectedUser"
          routerLink="/detail/{{user.UUID}}">
          <td [style.backgroundColor]="getBackgroundColor(i)" class="UserCell">
          </td>
          <td class="UserCell">
            {{user.firstName}} {{user.lastName}}
          </td>
          <td class="UserCell">
            {{user.birthday}}
          </td>
          <td class="UserCell">
            {{user.quote}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
