@import url("../styles.css");

table, th, td {
  border: 1px solid #585858;
  border-collapse: collapse;
  font-family: "Courier New", monospace;
}

table {
  border-collapse: separate !important;
  border-radius: 10px;
}

thead {
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}

.Table {
  margin: 1em 1em 0 0;
  border: 2px solid #585858;
  border-radius: 10px;
}

.UserCell {
  padding: 1em;
  opacity: 0.6;
  border-radius: 10px;
}

.UserLine:hover {
  background-color: #CFD8DC !important;
}
